/* global css vars */
:root {
    --primary-bg-color: #4d4a58;
    --secondary-bg-color: #787686;
    --tertiary-bg-color: #35343b;
    --topbar-bg-color: #a381aa;
    --text-color: azure;
    --body-text-color: rgb(197, 195, 195);
    --link-color: #e3c3ff;
    --link-highlight-color: #a16969;
}

body {
    background-color: var(--secondary-bg-color);
    font-size: 16pt;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 1%
}
h1 {
    padding-left: 1%;
    font-size: 32pt;
}
h2 {
    font-size: 24pt;
}

a:hover {
    color: var(--link-highlight-color)
}

#bg-canvas {
    image-rendering: pixelated;
    position:fixed; 
    top:0; 
    left:0; 
    z-index: -1; 
    width: 100%; 
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topbar-item-list button {
    font-size: 16pt;
    border: none;
    /* float: left; */
    color: var(--text-color);
    background-color: var(--topbar-bg-color);
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    width: 100%;
}

.menu button:hover {
    background-color: var(--link-highlight-color);
    color: black;
}

.menu button.active {
    background-color: var(--topbar-bg-color);
    color: var(--text-color);
}

.topbar-item-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.topbar-title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.topbar-title button { /* always a button */
    font-size: 24pt;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    /* width: 100% */
}

.topbar {
    /* margin-top: 3%; */
}

/* 
.menu table {
    table-layout: auto;
    width: 100%;
    border-spacing: 2px;
} */

/* main content */
.main {
    overflow:hidden;
    /* padding-left: 16px;
    padding-right: 16px; */
    padding-bottom: 2%;

    /*
    margin-top: 0.75%; 
    margin-bottom: 1%;
    */
    
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 16px;
    font-size: 15pt;

    padding-left: 5%;
    padding-right: 5%;
    
}

.main p {
    color: var(--body-text-color);
}

.main h1 {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: var(--link-color);
}


.content-container {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    margin-top: 1%;
    margin-bottom: 1%;
    /*
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 10px; */
    border: 1px solid var(--topbar-bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}


.content-title {
    border: 1px solid var(--topbar-bg-color); 
    padding: 5px; 
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: row;
}

.content-title-button {
    margin-left: auto;
    background-color: transparent;
    border: transparent;
}


/* body text */
.text {
    padding-right: 1%;
    padding-left: 1%;
}

.inline-link a {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    color: var(--link-color);
}
.inline-link a:visited {
    color: var(--link-color);
}
.inline-link a:hover {
    color: var(--link-highlight-color)
}

.inline-link-button {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    color: var(--link-color);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    user-select: text;
}

/* footer that will be placed on every page
 TODO: 
    * little divide pixel art that separates this from main element?
    * socials & external links
    * 
*/
.footer {
    margin:auto;
    width:15%;
    text-align:center;
    padding: 20px 20px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 16px;
    font-size: 16pt;
}

/* post stuff */
.post-item {
    font-size: 14pt;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}
.post-title {
    text-decoration:none;
    color: var(--link-color);
}
.post-timestamp {
    font-size: 10pt;
    color: rgb(43, 38, 43);
}

.under-construction {
    animation-name: colorful;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes colorful {
        0% {color: yellow};
        100% {color: black};
    }
}

.blinking-text {
    /* a character */
    visibility: visible;
    animation: blink-visibility 1s steps(1, start) infinite;
}

@keyframes blink-visibility {
    50% {
        visibility: hidden;
    }
}